@page
@model CORE1.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-o="N" asp-route-d="@Model.dir">
                    @Html.DisplayNameFor(model => model.Producto[0].Nombre)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Descripcion)
            </th>
            <th>
                 <a asp-page="./Index" asp-route-o="P" asp-route-d="@Model.dir">
                    @Html.DisplayNameFor(model => model.Producto[0].Precio)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-o="C" asp-route-d="@Model.dir">
                    @Html.DisplayNameFor(model => model.Producto[0].CategoriaNavigation)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNavigation.Id)
            </td>
            <!--td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td-->
            <td>
                    <a asp-page="./DetalleProducto/" asp-route-id="@item.Id"
                       class="btn btn-info">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
