

@page  
@model CORE1.Pages.TiendasModel
@{
	ViewData["Title"] = "Tiendas page";
}

<h1>Tiendas</h1>
<h2>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="menuProductos" role="button"
		   data-bs-toggle="dropdown" aria-expanded="false">
			Ciudades
		</a>

		<ul class="dropdown-menu" aria-labelledby="menuProductos">
			@foreach(Models.Localidad loc in Model.Localidades)
			{
				<li><a class="dropdown-item" asp-page="./Localidad/" asp-route-id=@loc.id">@loc.Nombre</a></li>
			}

		</ul>
	</li>
</h2>
<table class="table table-striped table-bordered"
	<thead>
		<tr>
			<th><a asp-page="./Tiendas" asp-route-orden="N" asp-route-sentido="@Model.sentido">Nombre</a></th>
			<th>Dirección</th>
			<th><a asp-page="./Tiendas" asp-route-orden="P" asp-route-sentido="@Model.sentido">Población</a></th>
			<th>Email</th>
			<th>Ver</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Models.Tienda t in Model.Tiendas){
	
			<tr>

				<td>@t.nombre</td>
				<td>@t.direccion</td>
				<td>@Model.Localidades.Where(p=> p.id ==t.localidad_id).FirstOrDefault().Nombre</td>
				<td>@t.email</td>
				    <td><a  class="btn-dark p-1 " asp-page="./Detalle/" asp-route-id="@t.id" > Ver </a></td>

			</tr>
		}
	</tbody>
	
</table>