

@page
@model CORE1.Pages.TiendasModel
@{
	ViewData["Title"] = "Tiendas page";
}

<h1>Tiendas</h1>

<table class="table table-striped table-bordered"
	<thead>
		<tr>
			<th><a asp-page="./Tiendas" asp-route-orden="N" asp-route-sentido="@Model.sentido">Nombre</a></th>
			<th>Dirección</th>
			<th><a asp-page="./Tiendas" asp-route-orden="P" asp-route-sentido="@Model.sentido">Población</a></th>
			<th>Email</th>
			<th>Ver</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Models.Tienda t in Model.Tiendas){
	
			<tr>

				<td>@t.nombre</td>
				<td>@t.direccion</td>
				<td>@t.localidad</td>
				<td>@t.email</td>
				    <td><a  class="btn-dark p-1 " asp-page="./Detalle/" asp-route-id="@t.id" > Ver </a></td>

			</tr>
		}
	</tbody>
	
</table>