@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model CORE1.Pages.UsuariosModel

@{
    ViewData["Title"] = "Usuarios";
}
@if (User.Identity.IsAuthenticated && HttpContextAccessor.HttpContext.Session.GetString("rol") == "ADMIN" ){
<h1>Usuarios</h1>

    @if (Model.Usuarios!=null && Model.Usuarios.Count > 0)
    {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].fechaalta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios[0].activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaalta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                        @if(item.activo == "S")
                        {
                            <form asp-area="" asp-page="UsuarioDesactivar" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@item.id" />
                                <input type="submit" class="btn btn-sm btn-info" value="Desactivar" />
                            </form>
                        }
                        else
                        {
                            <form asp-area="" asp-page="UsuarioActivar" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@item.id" />
                                <input type="submit" class="btn btn-sm btn-warning" value="Activar" />
                            </form>
                        }
                    </td>
            <!--td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td-->
        </tr>
}
    </tbody>
</table>
    }
    else
    {
        <div class="alert alert-danger">No hay productos que mostrar</div>
    }
}else{
    <h1>No tienes permiso para ver esta página</h1>
}